
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300; /* if you want the light version */
  background-color: white;
  color: #0a5c81;
  font-size: 30px;
  line-height: 50px;
  background-image:url(image/mac.jpg);
  background-attachment:fixed;
}


h1, h2 {
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-size: 30px;
  line-height: 50px;
  text-align: center;
}

li {

  color: black;
  text-decoration: none;
}

a:hover {
  color: yellow;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.card {
  background: #c0daec;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(150, 150, 150, 150.1);
  border: 1px solid rgba(100, 100, 100, 100.1);
  margin-bottom: 10px;

}

#photo {

  width: 200px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 6em

}

#social_icon i {

  font-size: 50px;
  margin: 0 50px;


}

.text-center{

  text-align: center;
}

















